<h1 class="mt-3">Formulário de Solicitação de Pagamento</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastrar Solicitação de Pagamento</li>
</ol>
<div class="container">
  <form #solicitacaoForm="ngForm" (ngSubmit)="onSubmit()" >

    <div class="row">
        <div class="col-md-12">
           <div class="alert alert-success" role="alert" *ngIf="success == true" >
              Solicitação salva com sucesso!
           </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Data de Emissão: *</label>
          <input type="date" class="form-control" name="dataEmissao" [(ngModel)]="solicitacao.dataEmissao" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data de Vencimento: *</label>
          <input type="date" class="form-control" name="dataVencimento" [(ngModel)]="solicitacao.dataVencimento" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome do Fornecedor: *</label>
          <input type="text" class="form-control" name="nomeFornecedor" [(ngModel)]="solicitacao.nomeFornecedor" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Observação:</label>
          <input type="text" class="form-control" name="observacao" [(ngModel)]="solicitacao.observacao" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Valor Bruto: *</label>
          <input type="number" class="form-control" name="valorBruto" [(ngModel)]="solicitacao.valorBruto" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Tributos:</label>
          <input type="number" class="form-control" name="tributos" [ngModel]="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Valor Líquido: *</label>
          <input type="number" class="form-control" name="valorLiquido" [(ngModel)]="solicitacao.valorLiquido" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Centro de Custos: *</label>
          <select class="custom-select" multiple>
            <option value="1">Controladoria</option>
            <option value="2">Financeiro</option>
            <option value="3">Departamento Pessoal</option>
            <option value="4">Administração</option>
          </select>
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="file" class="custom-file-input" class="form-control" id="customFile">
          <label class="custom-file-label" for="customFile">Anexar Arquivos</label>
        </div>
      </div>
    <div class="row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block" >
            <i class="far fa-check-square"></i>
            Salvar
          </button>
        </div>
    </div>
  </form>
</div>
