<h1 class="mt-3">Minhas solicitações</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<div class="container" style="max-width: 1327px">
  <form #consultarForm="ngForm" (submit)="consultarListaUsers()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputNomeFornecedor">Nome do Fornecedor:</label>
        <input type="text" [(ngModel)]="nomeFornecedor"
               name="nomeFornecedor" class="form-control"
               id="inputNomeFornecedor">
      </div>
      <div class="col-md-6">
        <label for="inputTipoPedido">Status da Solicitação:</label>
        <select class="form-control" name="select" id="inputTipoPedido" [(ngModel)]="nomeStatus">
          <option value="EM ABERTO">EM ABERTO</option>
          <option value="APROVADO">APROVADO</option>
          <option value="REPROVADO">REPROVADO</option>
          <option value="LANÇADO">LANÇADO</option>
          <option value="PAGO">PAGO</option>
          <option value="">TODOS</option>
        </select>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i> Consultar
        </button>
      </div>
    </div>
  </form>

  <br/>
  <div class="row">
    <div class="col-md-12">
      <table class="table-responsive-lg table-hover table-bordered text-center" style="font-size: 12px; background-color: #ffffff">
        <thead class="thead-light">
        <tr style="background-color: #615ead; color: #ffffff">
          <th style="width: border-box">#</th>
          <th>Status da Solicitação</th>
          <th>Solicitante</th>
          <th>Tipo de Solicitação</th>
          <th>Data de Emissão</th>
          <th>Data de Vencimento</th>
          <th>Nome Fornecedor</th>
          <th>Observação</th>
          <th>Desconto</th>
          <th>Tributos</th>
          <th>Valor Bruto</th>
          <th>Valor Liquido</th>
          <th>Centro de Custos</th>
          <th>Documentos</th>
          <th>Status Adiantamento</th>
          <th>Prestação de Contas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of lista; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td> <span class="badge_success">{{s.tipoStatus.nomeStatus}}</span> </td>
          <td> {{s.usuario.username}} </td>
          <td> {{s.tipoPedido.nomePedido}} </td>
          <td> {{s.dataEmissao}} </td>
          <td> {{s.dataVencimento}} </td>
          <td> {{s.nomeFornecedor}} </td>
          <td> {{s.observacao}} </td>
          <td> {{s.desconto}} </td>
          <td> {{s.tributo}} </td>
          <td> {{s.valorBruto}} </td>
          <td> {{s.valorLiquido}} </td>
          <td> {{s.centroDeCusto}} </td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn btn-secondary" style="font-size: 11px; width: 78px">
<!--                      (click)="openDocumentos(s.id, contentDocumentos)"-->
                Documentos
              </button>
            </div>
          </td>
          <td> <span class="statusPrestacao">{{s.tipoStatusAdto ? s.tipoStatusAdto.nomeStatus : ""}}</span> </td>
          <td>
            <div>
              <button type="button" class="btn btn-info btn-sm" style="font-size: 11px; width: 62px"
                      (click)="trocaStatusAdto(s.id, 2)"
                      [disabled]="(!botaoPrestacaoAtivo) || (s.tipoStatusAdto.id == 2)">
                Prestar Contas
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
