<link rel="stylesheet" href="sidebar.component.css">
<div id="layoutSidenav"></div>
<div id="layoutSidenav_nav">
  <link rel="stylesheet" href="sidebar.component.css">
  <nav class="sb-sidenav accordion sb-sidenav-light" style="background-color: #212429;" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div
          class="sb-sidenav-menu-heading">Sistema
        </div>
        <a class="nav-link" routerLink="/home" >
          <div class="sb-nav-link-icon"><i class="fab fa-cc-amazon-pay"></i>
          </div>
          Home
        </a>
        <div class="sb-sidenav-menu-heading">Solicitações</div>
        <a class="nav-link" routerLink="/pagamento-form">
          <div class="sb-nav-link-icon"><i class="fas fa-file-invoice-dollar"></i></div>
          Solicitação de Pagamento
        </a>
        <a class="nav-link" routerLink="/adiantamentos-form">
          <div class="sb-nav-link-icon"><i class="far fa-clone"></i></div>
          Solicitação de Adiantamento
        </a>
        <a class="nav-link" href="pagtos">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Minhas Solicitações
        </a>
        <div class="sb-sidenav-menu-heading">Consultas</div>
        <a class="nav-link" href="charts.html">
          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
          Charts
        </a>
        <a class="nav-link" routerLink="/pagamento-listagem">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Pagamentos
        </a>
        <a class="nav-link" href="tables2.html">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Adiatamentos
        </a>
        <div class="sb-sidenav-menu-heading">Gerencial</div>
        <a class="nav-link" routerLink="/usuarios-form">
          <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
          Criar Usuários
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer" style="background-color: #622cab;">
      <div class="small">Logged in as:</div>
      <div class="media">PayWall</div>
    </div>
  </nav>
</div>
